.header {
    display: flex;
    padding: 30px;
}

.header h3{
    flex: 1;
    font-size: 40px;
    margin: 0;
}

/* Button.css */
button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    text-align: center;
    text-decoration: none;
    gap: 30px;
    margin-left: 30px;
  }
  
  button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  